#exprText {
    min-width: 100px;
}

th,
td {
    border: 1px solid black;
    padding: 0;
}

p {
    padding: 0;
    margin: 0;
    text-align: center;
}

form#exprForm {
    display: flex;
    justify-content: center;
}

div#charButtonsDiv {
    display: flex;
    justify-content: center;
}

div#errorReportDiv {
    display: flex;
    justify-content: center;
}

div#pluginValDiv {
    display: flex;
    justify-content: center;
}

div#truthTableDiv {
    display: flex;
    justify-content: center;
}

div#devDiv {
    display: none;
}

.symbolToCopy {
    width: 15px;
    text-align: center;
}